*{
    box-sizing: border-box;
}
body{
    background-color:#eacd98;
}
.container{
    widows: 100%;
    margin:auto;
}
.head{
    font-family: 'Courier New', Courier, monospace;
    color:white;
    background-color: #937354;
    border:1px #b8aea4 solid;
    padding:10px;
    margin:0;
}
.head h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-decoration: plum;
    text-transform:uppercase;
    letter-spacing:0.2em;;
    word-spacing: 1em;
    text-align: center;
}
/*
.login_info{
    display: none;
    position:fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(red, green, blue);
    background-color: rgba(red, green, blue, alpha);
    padding-top: 30px;
}*/

.login_info-content{
    padding-top: 30px;
    display: none;
    position:absolute;
    z-index: 3;
    background-color: #937354;
    /*margin: 5% auto 15% auto;*/
    border: 2px solid #ab8aa8;
    /*width: 45%;*/
    width: 500px;
    height: auto;
    margin: 5% auto 5% 25%;
}
/*
.logbtn:visited{
    text-transform: uppercase;
    text-decoration: nonw;
    padding:15px 40px;
    border-radius: 0%;
    transition:all .2s;
    position: relative;
}*/
.logbtn{
    display: inline-block;
    width:250px; 
    height:100px; 
    background-color:#4d5b5c; 
    color:#f0c0aa; 
    font-size: xx-large; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    border-radius: 20%;
    text-align:center; 
    text-decoration: blanchedalmond; 
    text-shadow: chartreuse; 
    position:absolute; 
    bottom:60; 
    right:60;
    border:0px;
}
.logbtn::after{
    border-radius: 20%;
    content:"";
    display: inline-block;
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    transition: all .4s;
}
.logbtn-white::after{
    background-color:#4d5b5c;
}
.logbtn:hover::after{
    transform: scale(1.4);
    opacity:0;
}

.close{
    position: absolute;
    right:25px;
    top:0;
    color: burlywood;
    font-size: 35px; 
}
.close:hover,
.close:focus{
    color:red;
    cursor:pointer;
}
.animate{
    animation: animatezoom 1s;
}
@keyframes animatezoom{
    from {transform: scale(0);}
    to{transform: scale(1);}
}
/* media is used to change style for extra small screens*/
@media screen and (max-width:300px){
    span.psw{
        display: block;
        float: none;
    }
    .cancelbtn{
        width:100%;
    }
}

.imgcontainer{
    text-align: center;
    margin: 24px;
    position: relative;
}
img.avatar{
    width:20%;
    border-radius: 30%;
}

.cont{
    background-color:#839672;
    font-weight: bold;
    font-size:larger;
    align-self: center;
    text-align: center;
    z-index: 10;
    padding: 16px;
}
/*
span.psw{
    float: right;
    padding:16px;
    color:black;
}*/